@{
    ViewBag.Title = "Sign Up is completed";
}

<div class ="SingUpCompletedMessage">
    <h2>Welcome to Social Network!!!</h2>
    <p>Please activate your account.</p>
    <p>The activation email has been sent to your email: <a href ="http://www.@ViewBag.userHost">@ViewBag.userEmail</a>.</p>
</div>