body {
    min-width: 700px;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(images\\background.jpg);
}


Div.subject {
    float: left;
    margin-left: 5px;
    margin-right: 50px;
}

Div.test {
    margin-left: 25%;
    margin-right: 25%;
    text-align:center;
}
    Div.test h1{
        text-align:center;
    }
    Div.test textarea {
        text-indent: 20px;
        text-align:justify;
        margin: 0px 5% 0px 5%;
        width: 90%;
        max-width: 90%;
        max-height: 200px;
    }

Div.test input{
    margin-top:10%;
}


Div.testing {

}
    Div.testing h1{
        text-align:center;
    }
    Div.testing div.question{
    }
        Div.testing div.answers{
            margin-left:5%;
    }
    Div.testing textarea {
        text-indent: 20px;
        text-align:justify;
        margin: 0px 5% 0px 5%;
        width: 90%;
        max-width: 90%;
        max-height: 200px;
    }

    input.check-box {
        margin-right: 5px;
    }


    Div#user-info {
        width: 205px;
    }

    Div.Avatar {
    width: 205px;
    text-align:right;
}
    img.Avatar {
        display: inline-block;
        width: 205px;
        height: 205px;
        overflow: hidden;
        border: 5px solid #353535;
        background: #FFFFFF;
        outline: 1px solid #CCCCCC;
    }

    DIV#UserName {
        text-align: left;
    }

a.first-name {
       text-decoration:none;
}
a.second-name {
       text-decoration:none;
}
a.birthday {
   text-decoration:none;
}

Div#user-info-additional {
    text-align: right;
}

DIV#Results {
    width: 420px;
    float: right;
    background-color:black;
}

DIV#Messages {
    margin-top: 10px;

}



DIV.PageLinks {
    text-align: right;
    border-top: 2px solid silver;
    padding: .5em 0 0 0;
    margin-top: 1em;
}
    DIV.PageLinks A {
        font-size: 1.1em;
        color: #666;
        text-decoration: none;
        padding: 0 .4em 0 .4em;
    }
        DIV.PageLinks A:hover {
            background-color: Silver;
        }
        DIV.PageLinks A.selected {
            background-color: #353535;
            color: White;
        }

Div.Message {
    padding: 10px;
}
    Div.Message Div.SenderIcon {
        float:left;
    }
    Div.Message Div.Time {
        margin-left: 80px;
    }
    Div.Message Div.Text {
        margin-left: 80px;
        text-align: justify;
    }