<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <Link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
